<p class='section-title col-full'>
	Недвижимость
	<!-- <app-input-help>
		Недвижимость
	</app-input-help> -->
</p>
<hr class='col-full' />

<ng-container [formGroup]='form'>

	<app-form-field class='col-1-2'>
		<app-label>Название объекта инвестирования:</app-label>
		<input
			formControlName="name"
			app-input
			placeholder='Введите название' />
		<!-- <app-error *ngIf="form.controls['name'].hasError('required')">
		Поле обязательно
	</app-error> -->
	</app-form-field>

	<app-form-field class='col-1'>
		<app-label>Тип объекта:</app-label>
		<app-select
			formControlName="type"
			[options]='type'
			placeholder='Выберите тип'></app-select>
	</app-form-field>

	<app-form-field class='col-1-2'>
		<app-label>Адрес:</app-label>
		<input
			formControlName="location"
			app-input
			placeholder='Введите адрес' />
		<!-- <app-error *ngIf="form.controls['location'].hasError('required')">
		Поле обязательно
	</app-error> -->
	</app-form-field>

	<app-form-field class='col-1-2'>
		<app-label>Площадь, кв. м:</app-label>
		<input
			formControlName="square"
			app-input
			type="number"
			placeholder='Введите число' />
		<!-- <app-error *ngIf="form.controls['square'].hasError('required')">
		Поле обязательно
	</app-error> -->
	</app-form-field>

	<app-form-field class='col-1-2'>
		<app-label>Сумма капитальных расходов, руб.:</app-label>
		<input
			formControlName="price"
			app-input
			type="number"
			placeholder='Введите число' />
		<!-- <app-error *ngIf="form.controls['name'].hasError('required')">
		Поле обязательно
	</app-error> -->
	</app-form-field>

</ng-container>

<ng-container *ngIf="arrayData.length < 5">
	<button
		#button
		app-icon-inherit-button
		(click)="addToTable()"
		class='button col-1-2'>
		<i class='icon-add-new'></i>
		&nbsp;&nbsp;Добавить объекты
	</button>
</ng-container>

<ng-container *ngIf="arrayData.length > 0">
	<app-table
		[data]="arrayData"
		[dataHead]="dataHead"
		[title]="tableTitle"></app-table>
</ng-container>