<h4 class="title">Внутренняя норма доходности (IRR)</h4>

<!-- Теория -->
<div class="section-main">
  <h5>Что такое внутренняя норма доходности (IRR)</h5>

  <p>
    Внутренняя норма доходности (IRR) — это показатель, используемый в
    финансовом анализе для оценки рентабельности потенциальных инвестиций.
  </p>
  <p>
    IRR — это ставка дисконтирования, которая делает
    <span class="primary">чистую приведенную стоимость (NPV)</span> всех
    денежных потоков равной нулю при анализе дисконтированных денежных потоков.
  </p>

  <h6>Расчет IRR</h6>
  <p>
    Расчет IRR основан на той же формуле, что и NPV. Имейте в виду, что IRR не
    является фактической стоимостью проекта в долларах. Именно годовой доход
    делает NPV равным нулю.
  </p>

  <h6>Итоговое понимание</h6>
  <p>
    Вообще говоря, чем выше внутренняя норма доходности, тем более желательна
    инвестиция. IRR является единым для
    <span class="primary">инвестиций различных типов</span> и, как таковой,
    может использоваться для ранжирования нескольких потенциальных инвестиций
    или проектов на относительно равной основе. В целом, при сравнении вариантов
    инвестирования с другими схожими характеристиками, инвестиции с самым
    высоким IRR, вероятно, будут считаться лучшими.
  </p>
</div>

<hr />

<!-- <div class="main"> -->
<div class="section-main">
  <h5>Формула расчета</h5>
  <div class="formula">F O R M U L A</div>
</div>
<div class="section-grey">
  <h6>Пример расчета</h6>
  <p>
    $0 = (−$5,000) + $1,700 ÷ (1 + IRR)1 + $1,900 ÷ (1 + IRR)2 + $1,600 ÷ (1 +
    IRR)3 + $1,500 ÷ (1 + IRR)4 + $700 ÷ (1 + IRR)5
  </p>
  <p><span class="primary">IRR Проекта A = 16.61%</span></p>
</div>
<!-- </div> -->

<div class="list">
  <h6>Что запомнить</h6>
  <ul>
    <li>
      Внутренняя норма доходности (IRR) — это ежегодный темп роста, который
      ожидается от инвестиций.
    </li>
    <li>
      IRR рассчитывается с использованием той же концепции, что и чистая
      приведенная стоимость (NPV), за исключением того, что она устанавливает
      NPV равным нулю.
    </li>
    <li>
      Конечной целью IRR является определение ставки дисконтирования, которая
      делает приведенную стоимость суммы годовых номинальных притоков денежных
      средств равной первоначальным чистым денежным затратам на инвестиции.
    </li>
    <li>
      IRR идеально подходит для анализа проектов капитального бюджета, чтобы
      понять и сравнить потенциальные нормы годовой прибыли с течением времени.
    </li>
    <li>
      Помимо использования компаниями для определения того, какие капитальные
      проекты использовать, IRR может помочь инвесторам определить доходность
      инвестиций различных активов.
    </li>
  </ul>
</div>

<div class="section-main">
  <div class="video">
    <video src=""></video>
  </div>
</div>

<!-- Примеры -->
<div class="section-main">
  <h5>IRR в успешных проектах</h5>
  <p>
    Внутренняя норма доходности (IRR) — это показатель, используемый в
    финансовом анализе для оценки рентабельности потенциальных инвестиций.
  </p>
  <p>
    IRR — это ставка дисконтирования, которая делает
    <span class="primary">чистую приведенную стоимость (NPV)</span> всех
    денежных потоков равной нулю при анализе дисконтированных денежных потоков.
  </p>

  <h5>Кейс 1</h5>
  <p>
    Внутренняя норма доходности (IRR) — это показатель, используемый в
    финансовом анализе для оценки рентабельности потенциальных инвестиций.
  </p>
</div>

<div class="section-grey">
  <h6>Пример расчета</h6>
  <p>
    $0 = (−$5,000) + $1,700 ÷ (1 + IRR)1 + $1,900 ÷ (1 + IRR)2 + $1,600 ÷ (1 +
    IRR)3 + $1,500 ÷ (1 + IRR)4 + $700 ÷ (1 + IRR)5
  </p>
  <p><span class="primary">IRR Проекта A = 16.61%</span></p>
</div>

<div class="section-main">
  <h5>Кейс 1</h5>
  <p>
    Внутренняя норма доходности (IRR) — это показатель, используемый в
    финансовом анализе для оценки рентабельности потенциальных инвестиций.
  </p>
</div>
<div class="section-main">
  <div class="table">
    <div class="table-title">Название наблицы расчета</div>

    <div class="table-description">
      <p>
        Какое-то пояснение после таблицы. Что тут к чему. Какое-то пояснение
        после таблицы. Что тут к чему.Какое-то пояснение после таблицы. Что тут
        к чему.
      </p>
    </div>
  </div>
</div>

<div class="section-main">
  <div class="box">
    <div class="icon">
      <i class="icon-lamp"></i>
    </div>
    <div class="wrapper">
      <h6>Заголовок важной мысли</h6>
      <p>
        Какая-то важная мысль или вывод. Можно добавить
        <a href="" target="_blank">ссылку</a> на статью по дополняющей теме.
      </p>
    </div>
  </div>
</div>
